.col{
    text-align: center;
    margin: 1%;
}

.container{
    border: 10px inset black;
    margin: 1%;
}

h1, h2{
    text-align: center;
    padding: 1%;

}

p{
    text-align: center;
    padding:1%;
}